<h2>Bra Wish list</h2>
<p>Add a bra to your wishlist</p>

<p>Search for some styles...</p>
<form action='/wishlist' method='POST'>
  <input type='text' name='bra[brand]' id='searchBrand' placeholder='Brand...'/>
  <input type='text' name='bra[style]' id='searchStyle' placeholder='Style...'/>
  <input type='text' name='bra[size]' id='searchSize' placeholder='Size...'/>
  <input class='inputSubmit' type='submit' value='Search' />
</form>


