<!DOCTYPE html>
<html>
<head>
  <meta charset='utf8'>
  <title>Fit Guide</title>
  <script type="text/javascript" src='https://code.jquery.com/jquery-2.1.4.js'></script>
  <script type="text/javascript" src='../../js/script.js'></script>
</head>
<body>
  <h1>Your Personal Fit Guide</h1>
  <h3>Find out your Size</h3>
  <div class='surveyQ' id='quest1'>
    <form>
      <p>What is your current Bra Size?</p>
      <se
      <button>Next</button>
    </form>
  </div>

  <div class='surveyQ' id='quest2'>
    <form>
      <p>Question Goes Here 1 </p>
      <input type='radio' id='q2answer1' name='answer' value='abc' />
      <label for='q2answer1'>answer one</label>

      <input type='radio' id='q2answer2' name='answer' value='def' />
      <label for='q2answer2'>answer two</label>

      <input type='radio' id='q2answer3' name='answer' value='ghi' />
      <label for='q2answer3'>answer three</label>

      <input type='radio' id='q2answer4' name='answer' value='jkl' />
      <label for='q2answer4'>answer four</label>
      <button>Next</button>
    </form>
  </div>

  <div class='surveyQ' id='quest3'>
    <form>
      <p>Question Goes Here 2 </p>
      <input type='radio' id='q3answer1' name='answer' value='this is a sample' />
      <label for='q3answer1'>answer one</label>

      <input type='radio' id='q3answer2' name='answer' value='this is a sample' />
      <label for='q3answer2'>answer two</label>

      <input type='radio' id='q3answer3' name='answer' value='this is a sample' />
      <label for='q3answer3'>answer three</label>

      <input type='radio' id='q3answer4' name='answer' value='this is a sample' />
      <label for='q3answer4'>answer four</label>
      <button>Next</button>
    </form>
  </div>

  <div class='surveyQ' id='quest4'>
    <form>
      <p>Question Goes Here 3 </p>
      <input type='radio' id='q4answer1' name='answer' value='this is a sample' />
      <label for='q4answer1'>answer one</label>

      <input type='radio' id='q4answer2' name='answer' value='this is a sample' />
      <label for='q4answer2'>answer two</label>

      <input type='radio' id='q4answer3' name='answer' value='this is a sample' />
      <label for='q4answer3'>answer three</label>

      <input type='radio' id='q4answer4' name='answer' value='this is a sample' />
      <label for='q4answer4'>answer four</label>
      <button>Next</button>
    </form>
  </div>

  <div class='surveyQ' id='quest5'>
    <form>
      <p>Question Goes Here 4 </p>
      <input type='radio' id='q5answer1' name='answer' value='this is a sample' />
      <label for='q5answer1'>answer one</label>

      <input type='radio' id='q5answer2' name='answer' value='this is a sample' />
      <label for='q5answer2'>answer two</label>

      <input type='radio' id='q5answer3' name='answer' value='this is a sample' />
      <label for='q5answer3'>answer three</label>

      <input type='radio' id='q5answer4' name='answer' value='this is a sample' />
      <label for='q5answer4'>answer four</label>
      <button>Next</button>
    </form>
  </div>

  <div class='surveyQ' id='quest6'>
    <form>
      <p>Question Goes Here 5 </p>
      <input type='radio' id='q6answer1' name='answer' value='this is a sample' />
      <label for='q6answer1'>answer one</label>

      <input type='radio' id='q6answer2' name='answer' value='this is a sample' />
      <label for='q6answer2'>answer two</label>

      <input type='radio' id='q6answer3' name='answer' value='this is a sample' />
      <label for='q6answer3'>answer three</label>

      <input type='radio' id='q6answer4' name='answer' value='this is a sample' />
      <label for='q6answer4'>answer four</label>
      <button>Next</button>
    </form>
  </div>

  <div class='surveyQ' id='quest7'>
    <form>
      <p>Question Goes Here 6 </p>
      <input type='radio' id='q4answer1' name='answer' value='this is a sample' />
      <label for='q4answer1'>answer one</label>

      <input type='radio' id='q4answer2' name='answer' value='this is a sample' />
      <label for='q4answer2'>answer two</label>

      <input type='radio' id='q4answer3' name='answer' value='this is a sample' />
      <label for='q4answer3'>answer three</label>

      <input type='radio' id='q4answer4' name='answer' value='this is a sample' />
      <label for='q4answer4'>answer four</label>
      <button>Next</button>
    </form>
  </div>

</body>
</html>
