<h2 class='col-md-8'>Find your Perfect Fit</h2>
<p class='col-md-8'>Answer the following questions to determine your correct size</p>
<p class='col-md-8'>All you need to do is answer a few questions about how your current bra fits,
and measure around your ribcage with a measuring tape.</P
<p>Ready?</p><button id='surveyStartBtn'>Get Started!</button>
