<div class='surveyQ' id='quest3'>
    <p>Where does your bra band currently sit? </p>
    <form id='question3'>
      <input type='radio' id='highBand' name='answer' value='High' />
      <img src='http://lingeriebriefs.com/wp-content/uploads/2013/03/5-Band-too-large-c.jpg' alt='high bra band' />
      <label for='highBand'>High, on my shoulder blades.</label>

      <input type='radio' id='lowerBack' name='answer' value='Low' />
      <img src='http://3.bp.blogspot.com/-auyMk2vBOMM/T0QFd4TudjI/AAAAAAAAAZg/LyvUI4M6q1Y/s1600/Playtex38A.jpg' alt='low bra band'
      <label for='lowerBack'>Low, far below my shoulder blades.</label>

      <input type='radio' id='underBlades' name='answer' value='Correct' />
      <img src='http://blog.panache-lingerie.com/wp-content/uploads/2013/04/1-Correct-band.jpg' alt='bra band'
      <label for='underBlades'>Just under my shoulder blades.</label>
      <button id='quest3Btn'>Next</button>
    </form>
  </div>
