<div class='surveyQ' id='quest5'>
    <p>What are your cup preferences?</p>
    <form id='question5'>
      <input type='radio' id='unlined' name='answer' value='unlined' />
      <label for='unlined'>Unlined. </label>

      <input type='radio' id='lightPadding' name='answer' value='lightPadding' />
      <label for='lightPadding'>Lightly Padded.</label>

      <input type='radio' id='paddedNoPushUp' name='answer' value='paddedNoPushUp' />
      <label for='paddedNoPushUp'>Padded but with no push up.</label>

      <input type='radio' id='pushUp' name='answer' value='pushUp' />
      <label for='pushUp'>Push Up.</label>
      <button>Next</button>
    </form>
  </div>
