<div class='surveyQ' id='quest6'>
    <p>Does the wire between your cups lie flat on your chest?</p>
    <form id='question6'>
      <input type='radio' id='wireflatYes' name='answer' value='wireflatYes' />
      <label for='wireflatYes'>Yes.</label>

      <input type='radio' id='wireflatNo' name='answer' value='wireflatNo' />
      <label for='wireflatNo'>No.</label>
      <button>Next</button>
    </form>
  </div>
