<div class='surveyQ' id='quest3'>
    <p>Where does your bra band currently sit? </p>
    <form id='question3'>
      <input type='radio' id='highBand' name='answer' value='High' />
      <img src='' alt='high bra band' />
      <label for='highBand'>High, on my shoulder blades.</label>

      <input type='radio' id='lowerBack' name='answer' value='Low' />
      <img src='' alt='low bra band'
      <label for='lowerBack'>Low, far below my shoulder blades.</label>

      <input type='radio' id='underBlades' name='answer' value='Correct' />
      <img src='' alt='bra band'
      <label for='underBlades'>Just under my shoulder blades.</label>
      <button>Next</button>
    </form>
  </div>
