<h2 class='col-md-8'>Login</h2>
<p class='col-md-8'>8 out of 10 women wear the wrong bra size, and many hate going to stores to get fit.</p>
<p>Now you don't have to, simply answer a few questions and learn your correct size and what styles are the best.</p>
<form action='/login' method='POST' required class='col-md-8'>
  <label for='email'>Email: </label>
  <input type='email' id='email' name='user[email]' autofocus />
  <label for='pass'>Password: </label>
  <input type='password' id='pass' name='user[password]' />
  <input class='inputSubmit' type='submit' value='Submit' />
</form>
<p id='errorMsg'></p>
<p>Don't have an account?
<a href='/signup'>Sign up!</a>
</p>
