<h2 class='col-md 8'>Login</h2>
<p class='col-md 8'>About this site...</p>
<form action='/login' method='POST' required class='col-md-8'>
  <label for='email'>Email: </label>
  <input type='email' id='email' name='user[email]' autofocus />
  <label for='pass'>Password: </label>
  <input type='password' id='pass' name='user[password]' />
  <input type='submit' value='Submit' />
</form>
<p>Don't have an account?
<a href='/signup'>Sign up!</a>
</p>
