* {
  font-family: Nixie One, sans-serif;
  color: #4B1A32;
  font-size: 18px;
}

#background {
  z-index: -50;
  position: fixed;
  opacity: 0.9;
  top: -10%;
  left: -10%;
  width: 140%;
  height: 120%;
}

aside {
  height: 110%;
  width: 10%;
  top: 0%;
  left: 0%;
  padding-top: 30px;
  padding-left: 5px;
  position: fixed;
  background-color: #B7BDC5;
  color: #4B1A32;
  text-align: center;
}

aside a, #userID {
  text-decoration: none;
  font-family: Pacifico, cursive;
  font-size: 24px;
  color: #F0735C;
}

aside a:hover {
  color: #4B1A32;
}

a {
  text-decoration: none;
  font-family: Pacifico, cursive;
  font-size: 24px;
  color: #F0735C;
  padding: 4px 4px;
}

a:hover {
  color: #4B1A32;
}

div.gsc-control-cse {
  background-color: #B7BDC5;
  border: #B7BDC5;
}

input .gsc-input {
  background-color: #F0735C;
  color: #4B1A32;
}

#templateContent {
  text-align: center;
  width: 70%;
  margin-top: 3%;
  margin-right: auto;
  margin-left: auto;
  background-color: #B7BDC5;
  border: 8px solid #F0735C;
  padding: 5px 5px;
}

h1, h2, h3 {
  text-align: center;
  font-family: Pacifico, cursive;
  font-size: 38px;
  color: #4B1A32;
}

h4 {
  font-family: Pacifico, cursive;
  font-size: 26px;
  color: #4B1A32;
}

table {
  margin-left: auto;
  margin-right: auto;
}

#header {
  font-size: 52px;
}

#braGirls {
  height: 130px;
  width: 130px;
  margin-right: 4px;
  border-radius: 90px;
  border: 3px solid #F0735C;
}

.inputSubmit, button {
  background-color: #4B1A32;
  border-radius: 30px;
  color: #F0735C;
  padding: 8px;
}

ul, li {
  width: 80%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

#img404 {
  border: 3px solid #F0735C;
  height: 300px;
  width: 300px;
  border-radius: 220px;
  margin-right: auto;
  margin-left: auto;
}
