<h2>Brand Info</h2>
<p>Which Brands / Styles are the best?</p>

<table>
  <thead>
    <tr>
      <th>Brand </th>
      <th>Popular Styles </th>
    </tr>
  </thead>
  <tbody>
    <tr> {{# each brands}}
      <td>{{brandName}}</td>
      <td>{{popularStyle}}</td>
    </tr> {{/each}}
  </tbody>
</table>

